.contactFormAContent {
  margin-top: 5em;

  h2 {
      font-size: 30px;
  }
}

.contactArea {
  display: flex;
  padding: 2em;

  .contactText {
    width: 40%;
    text-align: justify;
  }

  .contactForm {
    width: 60%;
    padding: 0 2em;

    label {
      margin-bottom: 1em;
    }
  }
}
