* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Whisper", cursive;
  margin: 0.5em;
}

h1 {
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  font-size: 44px;
  border-bottom: 1px dashed #ccc;
}

input,
select,
textarea {
  margin: 0.5em 0 2em 0;
  padding: 1em;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-radius: 1em;
  box-shadow: 1px 1px 5px #ccc;
  resize: none;
  outline: none;
}

button {
  float: right;
  font-size: 16px;
  background-color: green;
  color: white;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  outline: none;
}
