:root {
  --green-primary: #83955F;
  --green-secondary: #97A776;
  --green-tertiary: #363F13;
  --green-light: #C5CEA1;
  --brown-primary: #BB875A;
  --brown-secondary: #CA9668; 
  --brown-tertiary: #D5AB86;
  --ivory: #F6F6E7;
  --text-color: #424B30;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5em;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Whisper", cursive;
  margin: 0.5em;
  color: var(--green-primary);
  text-shadow: 0 0 3px var(--green-secondary);
}

h1 {
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  font-size: clamp(32px, 5vw, 50px);
  border-bottom: 1px dashed var(--green-secondary);
}

h2 {
  margin: 0.5em 0;
  font-size: clamp(28px, 4vw, 40px);
  border-bottom: 1px dashed var(--green-secondary);
}

p,
a,
li {
  color: var(--text-color);
}

svg {
  color: var(--green-primary);
}

a {
  text-decoration: none;
  font-size: 16px;
}

section {
  margin: 5em 0;
  padding: 4em 0;
}

input,
select,
textarea {
  margin: 0.5em 0 2em 0;
  padding: 0.75em;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  border-radius: 1em;
  box-shadow: 1px 1px 3px var(--brown-secondary);
  resize: none;
  outline: none;
}

Button,
button {
  float: right;
  font-size: 16px;
  background-color: var(--brown-secondary);
  color: white;
  padding: 0.5em 1.25em;
  border: none;
  border-radius: 0.5em;
  outline: none;
  text-transform: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

Button::after,
button::after {
  clear: both;
}

@media screen and (max-width: 768px) {
  p {
    text-align: center;
  }
}